:root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.container {
  height: 95vh;
  width: 90vw;
  padding: 0;
  margin: 0;
}

.header {
  text-align: center;
}

