a {
  cursor: pointer;
}

.container {
  padding: 50px 20px;
  max-width: 1200px;
  margin: auto;
  color: var(--ag-muted);
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.05rem;
  max-width: 650px;
  margin: 0 auto 40px;
}